h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 200px;
}

.banner {
    background-image: url(https://flv-prd-oxud8mggj93od145.imgix.net/2bd697e6-c057-456d-9151-c629b2672133/banniere_web_4001x1538px_serov.jpg?auto=compress%2Cformat&fit=min&fm=jpg&q=80&rect=913%2C0%2C3076%2C1538&w=1920&dpr=1&fm=pjpg&q=80&cs=srgb);
    background-size: cover;
    background-position: center;
    padding: 200px 0;
}

.banner h1 {
    color: whitesmoke;
}

.banner p {
    color: whitesmoke;
    opacity: 0.7;
    font-size: 20px;
}

.text-center {
    text-align: center;
}